.redball {
  height: 10vh;
  width: 10vh;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: 10px;
  left: 10px;
  transform: translate( -5vh, -5vh)
}
.content{
  text-align: center;
}
.word{
  font-size: 20vh;
  line-height:100vh;
    text-align: center;
}